.homepage-outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: top url('https://steemitimages.com/DQmTrscBhGg3cLSecpUtCP7tKQNHSmagXU2z8knPWeyaCP9/Music-Wallpaper-HD-1080p-42.jpg');
  background-repeat: repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.color-overlay {
  height: 100vh;
  width: 100vw;
  background-color: #000000;
  opacity: 0.80;
  position: absolute;
}

.homepage-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.title-outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 600px;
}

.title-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 550px;
  z-index: 1;
  letter-spacing: 1px;
}

.home-title {
  letter-spacing: 4px;
  font-size: 60px;
  text-align: center;
  color: white;
  z-index: 1;
  font-weight: 900;
  word-spacing: 3px;
}

.search-outer-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 325px;
  width: 400px;
  z-index: 1;
  color: white;
}

.event-input {
  text-align: center;
}

.index-page {
  height: 100vh;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-content {
  margin-top: auto;
}

.card-border {
  border: hsl(171, 100%, 41%) solid 3px;
  border-radius: 10px;
}

.show-banner {
  background-color: hsl(0, 0%, 96%);
  padding-top: 30px;
}

.show-image-fig {
  height: 225px;
  width: 225px;
}

.show-image {
  border: hsl(171, 100%, 41%) solid 3px;
  border-radius: 10px;
}

.show-page-background {
  background-color: hsl(0, 0%, 21%);
  padding: 30px 0;
}

.show-page-body {
  margin: 10px 150px;
  padding: 50px;
  background-color: hsl(0, 0%, 96%);
  border: hsl(171, 100%, 41%) solid 5px;
  border-radius: 10px;
}

.map {
  display: flex;
  justify-content: center;
}

.marker {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  transform: translate(-50%, 50%);
  z-index: 1;
}

.address-details {
  margin-bottom: 5px;
}

.no-result-navbar {
  display: flex;
  position: fixed;
}

.no-result-background {
  display: flex;
  position: relative;
  // margin-top: -50px;
}